/ClassDiagram.cd
/Driver_Kernel.Win32.vddklaunch
/Driver_Kernel.vcproj
/Driver_Kernel.vcproj.Waldemar-PC.Waldemar.user
/Driver_Kernel.vcxproj
/Driver_Kernel.vcxproj.filters
/Driver_Kernel.vcxproj.user
/runsdvui.cmd
